table.todos {
    margin-bottom: 0;
    tr {
        transition: all 333ms ease-in;
        a {
            display: inline-block;
            width: 16px;
            height: 16px;
            &.done {
                .retina-background-icon('blue/accept.png');
            }
            &.delete {
                .retina-background-icon('blue/trash.png');
            }
            &.edit {
                .retina-background-icon('blue/edit.png');
            }
        }
        &.expired {
            background-color: #e8a0a0;
        }
        &.done {
            background-color: #cfe3c6;
            a.done {
                .retina-background-icon('blue/decline.png');
            }
        }
        input {
            width: 100% !important;
            box-sizing: border-box;
        }
        td {
            white-space: nowrap;
        }
      td:first-child {
        width: 80%
      }
      &:last-child td:nth-child(0n+3) {
        padding-left: 0;
      }
    }
    tbody tr:last-child td {
        border-bottom: 0;
    }
}

a.todo_link {
    text-decoration-line: underline;
    .icon-before('blue/schedule.png', 16, 2px);
}

a.accepted-todo {
    color: @light-gray-color;
    text-decoration-line: line-through;
    .icon-before('grey/schedule.png', 16, 2px);
}

span.todo_link {
    color: @light-gray-color;
    text-decoration-line: line-through;
    .icon-before('grey/schedule.png', 16, 2px);
}