table.todos {
    margin-bottom: 0;
    tr {
        transition: all 333ms ease-in;
        a {
            display: inline-block;
            width: 16px;
            height: 16px;
            &.done {
                .retina-background-icon('blue/accept.png');
            }
            &.delete {
                .retina-background-icon('blue/trash.png');
            }
        }
        &.expired {
            background-color: #e8a0a0;
        }
        &.done {
            background-color: #cfe3c6;
            a.done {
                .retina-background-icon('blue/decline.png');
            }
        }
        input {
            width: 100%;
        }
    }
    tbody tr:last-child td {
        border-bottom: 0;
    }
}

a.todo_link {
    text-decoration-line: underline;
    .icon-before('blue/schedule.png', 16, 2px);
}

a.accepted-todo {
    color: @light-gray-color;
    text-decoration-line: line-through;
    .icon-before('grey/schedule.png', 16, 2px);
}

span.todo_link {
    color: @light-gray-color;
    text-decoration-line: line-through;
    .icon-before('grey/schedule.png', 16, 2px);
}